.App {
  text-align: center;
}

.App-logo {
  max-height: auto;
  max-width: 500px;
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  background-image: url("bg-striped.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Content {
  background-color: #eeeeee;
  padding: 50px;
  color: black;
}

.Footer {
  padding: 5px;
  font-size: 0.4em;
  color: lightslategray;

}

.Footer-link {
  color: grey;
}